<html lang="{{ $.Site.LanguageCode }}">

<head>
    <title>{{ $.Site.Title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ if .IsHome}}{{ $.Site.Params.Description }}{{ else }}{{ $.Page.Params.Description }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Radu Suciu">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
</head>

<body>
    <div id="main">
        {{ partial "header.html" . }}
        {{ block "main" . }} {{ end }}
    </div>

    {{ block "extra_scripts" . }} {{ end }}
</body>
</html>
