@charset "utf-8";
@import 'syntax-paraiso-light.css';
@import 'syntax-dracula.css' (prefers-color-scheme: dark);

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #242124;
}

body {
    background: #f9f9f9;
}

img {
    border: 0;
}

a {
    color: blue;
}

ul {
    margin: 0;
    padding: 0;
}

#header a {
    color: #242124;
    text-decoration: none;
    font-size:1.1em;
}

#header a.active {
    text-decoration: underline;
}

#main {
    min-width: 280px;
    max-width: 960px;
    margin:0 auto;
    margin-top: 3em;
    padding: 1em;
}

.snippet-list-item {
    background-color: rgb(240, 240, 240);
    padding:0.5em;
    margin-bottom:0.5em;
    border-left:5px solid #555;
    display:block;
}

.snippet-list-item > * {
    margin: 0;
    padding: 0;
    margin-bottom: 0.25em;
}

/* dark mode  */
@media (prefers-color-scheme: dark) 
{
    a {
        color: #94cfef;
    }
    ::selection {
        background-color: #F92672;
    }
	body {
        background-color: #1d1b1d;
        color: #f9f9f9;
    }
    
    #header a {
        color: #f9f9f9;
    }

    .snippet-list-item {
        background-color: #292629;
        border-left-color: #A6E22E;
    }
}

