@charset "utf-8";
@import 'syntax-paraiso-light.css';
@import 'syntax-dracula.css' (prefers-color-scheme: dark);

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #242124;
}

body {
    background: #f9f9f9;
}

img {
    border: 0;
}

ul {
    margin: 0;
    padding: 0;
}

#header a {
    color: #242124;
    text-decoration: none;
}

#header a.active {
    text-decoration: underline;
}

#main {
    min-width: 280px;
    max-width: 960px;
    margin:0 auto;
    margin-top: 3em;
    padding: 1em;
}


/* dark mode  */
@media (prefers-color-scheme: dark) 
{
    a {
        color: #94cfef;
    }
    ::selection {
        background-color: #F92672;
    }
	body {
        background-color: #242124;
        color: #f9f9f9;
    }
    
    #header a {
        color: #f9f9f9;
    }

    
}

